
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

header {
background: #6e5c89;
color: white;
display: flex;
justify-content: space-between;

}

.highest-score {
  padding: 19px;
}

h1{
  font-size: 55px;
  font-weight: bolder;
  padding: 20px;
  margin-left: 30px;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  padding: 10px;
}

p {
  padding: 10px;
  font: 10px;
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
  margin-top: 15px;
}

a:hover {
  color: black;
}

button {
  font-size: 20px;
  color: white;
  background-color: #6e5c89;
  border: white;
  padding: 5px 12px;
  border-radius: 7px;
  margin-left: 15px;
  margin-top: 10px;
}

button:hover {
  background-color: #614191;
}

.hide {
  display: none;
}

.wrapper {
  max-width: 700px;
  margin: 5em auto 5em auto;
}

.choices {
  margin-left: 2px;
}

.choices button{
  display: block;
  margin: 5px 0 5px 0;
}

.question-header {
  display: flex;
  align-items: center;
}

input[type = "text"] {
  padding: 4px 6px;
  font-size: 16px;
}

#answers {
  padding: 20px;
}

#derp {
  color: black;
}